body {
    background-color: #cfebf5;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    font-size: 24px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.calculator {
    background-color: #767474;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 10px 20px 10px;
}

.calculator-row {
    display: flex;
    justify-content: space-around;
}

.calculator-display {
    font-size: 48px;
    width: 98%;
    margin: 3px auto;
    background-color: azure;
}

.calculator-btn {
    width: 100%;
    margin: 3px;
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
    flex-basis: 0;
    transition: all .2s ease;
}

.calculator-btn:hover,
.calculator-btn-clicked {
    transform: scale(1.05);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.equal-btn {
    background-color: #e8b556;
}